{% include 'html-header.twig' %}

<body class="{{body_class}}">
  	{% block header %}
		{% include 'header.twig' %}
  	{% endblock %}

	{% if home %}
		{% include 'home/header-home.twig' %}
	{% else %}
	<div class="container">
		{% if title %}<h1 class="text-center">{{title}}</h1>{% endif %}
	</div>
	{% endif %}
	
	<div class="container">
		<section id="content" role="main" class="content-wrapper">
			{% if home == false %}
			<div class="row">
				<div class="col-md-8">
			{% endif %}
				{% block content %}
					Sorry, no content
				{% endblock %}
			{% if home == false %}
				</div>
				<div class="col-md-4">
				{% include 'sidebar/sidebar.twig' %}
				</div>
			</div>
			{% endif %}
		</section>
		
		{% include "pagination.twig" %}

	</div>
	

	{% block footer %}
	  {% include 'footer.twig' %}
	  {{wp_footer}}
	{% endblock %}
</body>

</html>