<footer id="footer" class="container">
	<div class="text-center"><span class="bg">Copyright {{"now"|date('Y')}}</span></div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>