<div class="terms">
	{% for term in post.terms if term.taxonomy == 'category' and term.name != 'Uncategorized' %}
	<a class="btn btn-xs btn-default" href="{{site.url}}/category/{{term.name}}">{{term.name}}</a>
	{% endfor %}
</div>